<!DOCTYPE html>
<html lang="en" ng-app="clientModule" ng-controller="ProductCtrl">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<!-- <meta name="viewport" content="width=device-width, initial-scale=1"> -->
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
		 <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
		<!-- HTML Meta Tags -->
        <title>Fashionshopasia | Home</title>
        <meta name="description" content="Fashionshopasia, Pakaian Pria, Pakaian Wanita, Pakaian Anak, Tas Pria, Tas Wanita, Tas Anak, Sepatu Pria, Sepatu Wanita, Sepatu Anak, Sandal Pria, Sandal Wanita, Sandal Anak, Kerudung, Mukena, Sarimbit, Dompet, Ikat Pinggang, Topi">
        
        <!-- Google / Search Engine Tags -->
        <meta itemprop="name" content="Fashionshopasia | Home">
        <meta itemprop="description" content="Fashionshopasia, Pakaian Pria, Pakaian Wanita, Pakaian Anak, Tas Pria, Tas Wanita, Tas Anak, Sepatu Pria, Sepatu Wanita, Sepatu Anak, Sandal Pria, Sandal Wanita, Sandal Anak, Kerudung, Mukena, Sarimbit, Dompet, Ikat Pinggang, Topi">
        <meta itemprop="image" content="http://fashionshopasia.com/img/websitesearchlogo.png">
        
        <!-- Facebook Meta Tags -->
        <meta property="og:url" content="http://fashionshopasia.com">
        <meta property="og:type" content="website">
        <meta property="og:title" content="Fashionshopasia | Home">
        <meta property="og:description" content="Fashionshopasia, Pakaian Pria, Pakaian Wanita, Pakaian Anak, Tas Pria, Tas Wanita, Tas Anak, Sepatu Pria, Sepatu Wanita, Sepatu Anak, Sandal Pria, Sandal Wanita, Sandal Anak, Kerudung, Mukena, Sarimbit, Dompet, Ikat Pinggang, Topi">
        <meta property="og:image" content="http://fashionshopasia.com/img/websitesearchlogo.png">
        
        <!-- Twitter Meta Tags -->
        <meta name="twitter:card" content="summary_large_image">
        <meta name="twitter:title" content="Fashionshopasia | Home">
        <meta name="twitter:description" content="Fashionshopasia, Pakaian Pria, Pakaian Wanita, Pakaian Anak, Tas Pria, Tas Wanita, Tas Anak, Sepatu Pria, Sepatu Wanita, Sepatu Anak, Sandal Pria, Sandal Wanita, Sandal Anak, Kerudung, Mukena, Sarimbit, Dompet, Ikat Pinggang, Topi">
        <meta name="twitter:image" content="http://fashionshopasia.com/img/websitesearchlogo.png">
        
        <!-- Meta Tags Generated via http://heymeta.com -->
		<link href="https://fonts.googleapis.com/css?family=Montserrat:400,500,700" rel="stylesheet">
		<!-- Bootstrap -->
		<link type="text/css" rel="stylesheet" href="css/bootstrap.min.css"/>
		<!-- Slick -->
		<link type="text/css" rel="stylesheet" href="css/slick.css"/>
		<link type="text/css" rel="stylesheet" href="css/slick-theme.css"/>
		<!-- nouislider -->
		<link type="text/css" rel="stylesheet" href="css/nouislider.min.css"/>
		<!-- Font Awesome Icon -->
		<link rel="stylesheet" href="css/font-awesome.min.css">
		<!-- MY STYLE CSS -->
		<link rel="stylesheet" href="css/mycss.css">
		<!-- Custom stlylesheet -->
		<link type="text/css" rel="stylesheet" href="css/style.css"/>
		<link rel="icon" href="img/home.jpg">
    </head>
	<body>
		<!-- TOP HEADER -->
			<div id="top-header">
				<div class="container">
					<ul class="pull-left">
					<li><a href="http://fashionshopasia.com/"><img src="./img/logoku.png" ></a></li>
					</ul>
					<ul class="header-links pull-right" ng-repeat="x in sosial">
						<li><a href="#"><i class="fa fa-phone"></i>{{x.nohp}}</a></li>
						<li><a href="{{x.facebook}}" target="_blank"><i class="fa fa-facebook"></i>Facebook</a></li>
						<li><a href="#"><i class="fa fa-whatsapp"></i>{{x.whatsapp}}</a></li>
						<li><a href="{{x.instagram}}" target="_blank"><i class="fa fa-instagram"></i>Instagram</a></li>
						<li><a href="#"><i class="fa fa-envelope-o"></i>{{x.email}}</a></li>
						<li><a href="#"><i class="fa fa-map-marker"></i>{{x.lokasi}}</a></li>
					</ul>
				</div>
			</div>
			<!-- /TOP HEADER -->
		<!-- HEADER -->
		<header>
			<!-- MAIN HEADER -->
			<div id="header">
				<!-- container -->
				<div class="container">
					<!-- row -->
					<div class="row">

						<!-- SEARCH BAR -->
						<div class="col-md-12">
							<div class="header-search">
								<form>
									<button class="input-select" disabled><b>Pencarian :</b></button>
									<input class="input" placeholder="disini . . ." ng-model="cari">
									<button class="search-btn">Cari</button>
								</form>
							</div>
						</div>
						<!-- /SEARCH BAR -->					
					<!-- row -->
					</div>
				<!-- container -->
				</div>
			<!-- /MAIN HEADER -->
			</div>
		</header>
		<!-- /HEADER -->

		<!-- NAVIGATION -->
		<nav id="navigation" align="center"><br>
				<b><h4>PRODUK TERSEDIA</h4></b>
		</nav>
		<nav id="navigation">
			<!-- container -->
			<div class="container">
				<div class="col-md-4"><b>
					<select id="selectOrder" class="input-select">
						<option value="0">Urutkan</option>
			            <option value="1">Harga Terendah</option>
			            <option value="2">Harga Tertinggi</option>
			            <option value="3">Paling Banyak Dilihat</option>
			        </select>
				</div>
				<div class="col-md-4"><b>
					<select id="selectKategori" class="input-select">
						<option value="0">Semua Kategori</option>
						<option ng-repeat="x in datakategori" value="{{x.idkategori}}">
							{{x.namakategori}}
						</option>
					</select>
				</div>
				<div class="col-md-4">	
					<select id="selectJenis" class="input-select">
						<option value="0">Semua Jenis</option>
						<option ng-repeat="x in datajenis" value="{{x.idjenisbarang}}">
							{{x.namajenisbarang}}
						</option>
					</select>
				</div>
			</div>
			<!-- /container -->
		</nav>
		<!-- /NAVIGATION -->

		<!-- MODAL DETAIL BARANG -->
			<div class="modal fade" id="modalDetailBarang" tabindex="-1" role="dialog" aria-labelledby="modalDetailBarang" aria-hidden="true">
			  <div class="modal-dialog" role="document">
			    <div class="modal-content">
			      <div class="modal-header">
			        <h4 class="modal-title" align="center" id="modalDetailBarang"><b>Detail Barang
			        <button type="button" class="btn btn-danger pull-right" data-dismiss="modal">X</button></b></h4>			        
			      </div>
			      
			      <div class="modal-body thumbnail">
			       		<table align="center">
			       			<tr>
							  <th rowspan="5">
							  	<img class="card-img-top thumbnail" style="max-width: 300px;" src="admin_fashionshopasia/web-service/upload/{{foto}}"/>
							  </th>
							</tr>
							
			       		</table>
			       		<table class="thumbnail" align="center">
			       			<tr>
							  <td><b><h5>Kode Barang : <span style="color:#ad2020;">{{kodeBrg}}</span></h5></b></td>
							</tr>

							<tr>
							  <td><h5> {{namajen}} ( {{namadet}} ) {{namakat}}</h5></td>
							</tr>

							<tr>
							  <td><h5> Harga : <span style="color:#ad2020;">IDR. {{hrgbrg}}</span></h5></td>
							</tr>

							<tr>
							  <td><h5><u><b>Deskripsi : </b></u></h5><p style="color: #ad2020;"><b>{{deskripsi}}</b></p></td>
							</tr>
			       		</table>
			      </div>

			    </div>
			  </div>
			</div>

		<!-- SECTION -->	
		<div class="container">
		<div class="card-group" dir-paginate="x in product | filter:cari | orderBy:x.hargabarang | itemsPerPage:12">
			<div class="col-md-3">
				<div class="product" ng-click="getDataBarang(x.idbarang, x.kode, x.namakategori, x.namajenisbarang, x.namadetailbarang, x.hargabarang, x.gambar, x.deskripsi)">
					<a href="#modalDetailBarang" data-toggle="modal" data-target="#modalDetailBarang">
					<p class="product-category" align="center"><b>[ {{x.namakategori}} ]</b></p>
					<div class="thumbnail">
						<div class="product-body">
							<div class="card">
				    		<img class="card-img-top" width="170" height="170" src="admin_fashionshopasia/web-service/upload/{{x.gambar}}"/>
				    		<hr>
		            		<h3 class="product-name">{{x.namajenisbarang}} ( {{x.namadetailbarang}} )</h3>
							<h4 class="product-price">IDR. {{x.hargabarang}}</h4>
							<i class="fa fa-eye"> dilihat : {{x.dilihat}} x</i>
				  			</div>
						</div>
					</div>
					</a>
				</div>
			</div>
		</div>
		</div>
		<div class="clearfix"></div>
		<div align="center">
			<dir-pagination-controls max-size="12" direction-links="true" boundary-links="true"></dir-pagination-controls>
		</div>
		<!-- /SECTION -->

			<!-- MODAL DETAIL FASHIONSHOPASIA -->
			<div class="modal fade" id="modalFashion" tabindex="-1" role="dialog" aria-labelledby="modalFashion" aria-hidden="true">
			  <div class="modal-dialog" role="document">
			    <div class="modal-content">
			      <div class="modal-header">
			        <h4 class="modal-title" align="center" id="modalFashion"><b>FASHIONSHOPASIA
			        <button type="button" class="btn btn-danger pull-right" data-dismiss="modal">X</button></b></h4>			        
			      </div>
			      
			      <div class="modal-body thumbnail">
			      	<p style="text-align: justify;text-justify: inter-word;font-weight:normal;"> - Distributor Fashion dan Konveksi kerudung. SMS/WA Center XL: 0817-047-5770.</p>
			      </div>

			    </div>
			  </div>
			</div>
			<!-- MODAL DETAIL BIAYA PENGIRIMAN -->
			<div class="modal fade" id="modalKirim" tabindex="-1" role="dialog" aria-labelledby="modalKirim" aria-hidden="true">
			  <div class="modal-dialog" role="document">
			    <div class="modal-content">
			      <div class="modal-header">
			        <h4 class="modal-title" align="center" id="modalKirim"><b>BIAYA PENGIRIMAN
			        <button type="button" class="btn btn-danger pull-right" data-dismiss="modal">X</button></b></h4>			        
			      </div>
			      
			      <div class="modal-body thumbnail">
			      	<p style="font-weight:normal;text-align: justify;">
			      		Untuk biaya pengiriman kami berdasarkan pada tarif resmi yang dikeluarkan oleh kurir. Berikut beberapa kurir yang kami rekomendasikan : <br><br>
						<b>1.</b> POS Indonesia, cek tarif pengiriman di sini <a href="http://www.posindonesia.co.id" target="_blank" style="color:blue;">Pos Indonesia</a><br><br>
						<b>2.</b> JNE - <i>Express Across Nations</i>, cek tarif pengiriman di sini <a href="https://www.jne.co.id/id/beranda" style="color:blue;" target="_blank">JNE</a><br><br>
						<b>3.</b> Alternatif semua kurir, cek tarif pengiriman di sini <a href="https://pluginongkoskirim.com/cek-tarif-ongkir/" style="color:blue;" target="_blank">Plugin Ongkos Kirim</a>
						Walaupun masing-masing kurir telah mempunyai ongkos kirim yang pasti, namun tetap saja terkadang ada kesalahan perhitungan yang menyebabkan biaya ongkos kirim yang di transfer tidak sesuai dengan ongkos kirim sebenarnya. Dalam hal ini, jika terjadi kelebihan ongkos kirim kami akan kembalikan sepenuhnya kepada pelanggan.<br><br>
						Bingung dalam memilih kurir yang akan digunakan? Silahkan hubungi team kami melalui chating atau <b>SMS / WA 0817-047-5770</b>.
			      	</p>
			      </div>

			    </div>
			  </div>
			</div>
			<!-- MODAL DETAIL CARA BERBELANJA -->
			<div class="modal fade" id="modalBelanja" tabindex="-1" role="dialog" aria-labelledby="modalBelanja" aria-hidden="true">
			  <div class="modal-dialog" role="document">
			    <div class="modal-content">
			      <div class="modal-header">
			        <h4 class="modal-title" align="center" id="modalBelanja"><b>CARA BERBELANJA
			        <button type="button" class="btn btn-danger pull-right" data-dismiss="modal">X</button></b></h4>			        
			      </div>
			      
			      <div class="modal-body thumbnail">
			      	<p style="text-align: justify;text-justify: inter-word;font-weight:normal;">
						Kami selalu berupaya memberikan kemudahan bagi pelanggan kami dalam berbelanja di <b>Fashionshopasia.com</b> Berikut adalah panduan cara berbelanja :<br><br>
						<b>1.</b> Untuk pemesanan barang bisa dilakukan melalui :<br><br>
						<b>Via keranjang belanja (add to cart)</b><br>
						- Bisa order kapan saja.<br>
						- Pemrosesan order lebih cepat dibanding via <b>SMS</b>.<br>
						- Lebih direkomendasikan untuk <i>reseller dropship</i> karena <i>reseller</i> bisa set langsung alamat pengirim dan penerima.<br><br>
						<b>Via SMS / WA 0817-047-5770 / 0822-4047-5770</b><br>
						- Guna menghindari kesalahan penulisan alamat pengirim, alamat penerima dan apakah faktur disertakan / tidak.<br>
						- Hanya bisa order pada jam kerja <b>09.00 - 17.30 WIB.</b><br>
						- Untuk memudahkan kami dalam memproses ordernya, harap pesan <b>SMS</b> yang dikirimkan dalam format berikut :<br><br>
						<b>[Order]-[Nama]-[Alamat]-[Kode Produk]:[Ukuran], [Kode Produk]:[Ukuran]</b><br>
						<b>Misal ketik :</b><br>
						<b>Order-Siti Aminah-Jl Diponegoro No 1 Soroako Sumbar-ALY 001:M, ALY 002:L </b><br><br>
						<b>2.</b> Setelah anda melakukan pemesanan, team kami akan segera menghubungi anda kembali melalui <b>SMS / WA</b> untuk memberitahukan ketersediaan stok barang, biaya pengiriman dan total harga yang anda bayar.<br><br>
						<b>3.</b> Biaya pengiriman ditentukan berdasarkan tarif resmi dari kurir <b>(JNE / POS Indonesia, dll)</b>, jika karena satu hal terjadi kelebihan ongkos kirim, kami akan kembalikan sepenuhnya kepada anda.<br><br>
						<b>4.</b> Barang yang sudah dipesan akan kami proses mak dalam waktu <b>1 x 24 jam</b> setelah konfirmasi pembayaran anda lakukan. Mohon untuk memberitahukan melalui <b>email / SMS / WA</b> untuk konfirmasi pembayaran.<br><br>
						<b>5.</b> Resi pengiriman barang akan kami kirimkan ke alamat <b>email / SMS/ WA</b> anda.<br><br>
						<b>6.</b> Barang dikirimkan ke alamat yang sudah ditentukan.<br><br>
						<b>CARA KONFIRMASI PEMBAYARAN :</b><br><br>
						Untuk konfirmasi pembayaran dilakukan via <b>SMS / WA 0817-047-5770 / 0822-4047-5770</b> Untuk memudahkan kami dalam memprosesnya harap <b>SMS</b> dikirim dalam format sbb :<br><br>
						<b>[Pembayaran Order]-[Nama]-[Jumlah]-[Transfer ke rek Mandiri / BCA / BRI]<b><br><br>
						<b>Misal ketik :</b><br>
						<b>Pembayaran Order-Siti Aminah-100.000-Mandiri.<br><br>
						Rekening Fashionshopasia<br>
						An: Marshal Indra Gunawan Surbakti,<br>
						Mandiri: 1310010149112,<br>
						BCA: 0541028420,<br>
						BRI: 040101019467500.<br></b>

			      	</p>
			      </div>

			    </div>
			  </div>
			</div>
			<!-- MODAL DETAIL CARA PEMBAYARAN -->
			<div class="modal fade" id="modalBayar" tabindex="-1" role="dialog" aria-labelledby="modalBayar" aria-hidden="true">
			  <div class="modal-dialog" role="document">
			    <div class="modal-content">
			      <div class="modal-header">
			        <h4 class="modal-title" align="center" id="modalBayar"><b>CARA PEMBAYARAN
			        <button type="button" class="btn btn-danger pull-right" data-dismiss="modal">X</button></b></h4>			        
			      </div>
			      
			      <div class="modal-body thumbnail">
			      	<p style="text-align: justify;text-justify: inter-word;font-weight:normal;">
Metode pembayaran sementara ini dapat dilakukan dengan beberapa cara, yaitu :<br><br>
<b>1.</b> Transfer ke Rekening Bank<br>
- Pembayaran dilakukan dengan cara transfer ke rekening <b>Fashionshopasia.com</b> yang terdaftar di bawah.<br>
- Proses transfer dapat dilakukan melalui <b>ATM, Internet Banking, Mobile Banking / SMS Banking</b><br>
- Lakukan konfirmasi pembayaran melalui <b>email / SMS / WA</b> kepada kami supaya belanja anda bisa segera kami proses<br><br>
<b>2.</b> Setor Tunai Melalui Bank<br>
- Pembayaran dilakukan dengan cara setor tunai secara langsung ke rekening <b>Fashionshopasia.com</b> yang terdaftar di bawah<br>
- Lakukan konfirmasi pembayaran melalui <b>email / SMS / WA</b> kepada kami supaya belanja anda bisa segera kami proses 
Daftar Rekening Bank <b>Fashionshopasia.com</b><br><br>
<b>- BCA<br>
Cabang : Kota Tasikmalaya<br>
No Rekening : 0541028420<br>
Atas Nama : Marshal Indra Gunawan Surbakti<br><br>
- MANDIRI<br>
Cabang : Cihampelas, Kota Bandung<br>
No Rekening : 131-0010-149-112<br>
Atas Nama : Marshal Indra Gunawan Surbakti<br><br>
- BRI<br>
No Rekening : 040-1010-194-67500<br>
Atas Nama : Marshal Indra Gunawan Surbakti</b><br><br>
Konfirmasi Pembayaran Melalui <b>Email / SMS / WA</b><br><br>
Setelah anda melakukan pembayaran anda dapat mengkonfirmasikannya kepada kami melalui kontak berikut. Setelah pembayaran anda kami terima, belanja anda akan dikirimkan dalam waktu <b>1 x 24 jam.<br><br>
SMS / WA :<br>
- 0822-4047-5770 - Telkomsel<br>
- 0817-047-5770 - XL</b>
			      	</p>
			      </div>

			    </div>
			  </div>
			</div>

		<!-- FOOTER -->
		<footer id="footer">
			<!-- top footer -->
			<div class="section">
				<!-- container -->
				<div class="container" align="center">
					<!-- row -->
					<div class="row"><div align="center"><h3 style="color:white;"><u>INFORMASI DAN PETUNJUK</u></h3></div>
						<div class="col-md-3 col-xs-6">
							<div class="footer">
								<h3 class="footer-title"><a style="color:white;" href="#modalFashion" data-toggle="modal" data-target="#modalFashion">FASHIONSHOPASIA</a></h3>
								<!-- <p style="color:white;text-align: justify;text-justify: inter-word;font-weight:normal;">{{x.isi}}</p> -->
								<ul class="footer-links">
								</ul>
							</div>
						</div>						
						<div class="col-md-3 col-xs-6">
							<div class="footer">
								<h3 class="footer-title"><a style="color:white;" href="#modalKirim" data-toggle="modal" data-target="#modalKirim">BIAYA PENGIRIMAN</a></h3>
								<ul class="footer-links">
								</ul>
							</div>
						</div>
						<div class="col-md-3 col-xs-6">
							<div class="footer">
								<h3 class="footer-title"><a style="color:white;" href="#modalBelanja" data-toggle="modal" data-target="#modalBelanja">CARA BERBELANJA</a></h3>
								<ul class="footer-links">
								</ul>
							</div>
						</div>
						<div class="col-md-3 col-xs-6">
							<div class="footer">
								<h3 class="footer-title"><a style="color:white;" href="#modalBayar" data-toggle="modal" data-target="#modalBayar">CARA PEMBAYARAN</a></h3>
								<ul class="footer-links">
								</ul>
							</div>
						</div>
					</div>
					<!-- /row -->
				</div>
				<!-- /container -->
			</div>
			<!-- /top footer -->

			<!-- bottom footer -->
			<div id="bottom-footer" class="section">
				<div class="container">
					<!-- row -->
					<div class="row">
						<div class="col-md-12 text-center">
							<ul class="footer-payments">
								<li><a href="#"><i class="fa fa-cc-visa"></i></a></li>
								<li><a href="#"><i class="fa fa-credit-card"></i></a></li>
								<li><a href="#"><i class="fa fa-cc-paypal"></i></a></li>
								<li><a href="#"><i class="fa fa-cc-mastercard"></i></a></li>
								<li><a href="#"><i class="fa fa-cc-discover"></i></a></li>
								<li><a href="#"><i class="fa fa-cc-amex"></i></a></li>
							</ul>
							<span class="copyright">
								Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | Fashionshopasia.com</a>
							</span>
						</div>
					</div>
						<!-- /row -->
				</div>
				<!-- /container -->
			</div>
			<!-- /bottom footer -->
		</footer>
		<!-- /FOOTER -->

		<!-- INJECT JS SCRIPT -->				
		<script src="js/jquery.min.js"></script>
		<script src="admin_fashionshopasia/lib/angular/angular.js"></script>    
	    <script src="admin_fashionshopasia/lib/dirPagination.js"></script>
	    <script src="admin_fashionshopasia/lib/bootstrap/bootstrap.min.js"></script>
	    <script src="admin_fashionshopasia/lib/bootstrap/ui-bootstrap-tpls-0.9.0.js"></script>
		<script src="js/controllers.js"></script>
<!-- 		<script language="JavaScript">
  /**
    * Disable right-click of mouse, F12 key, and save key combinations on page
    * By Arthur Gareginyan (arthurgareginyan@gmail.com)
    * For full source code, visit http://www.mycyberuniverse.com
    */
  window.onload = function() {
    document.addEventListener("contextmenu", function(e){
      e.preventDefault();
    }, false);
    document.addEventListener("keydown", function(e) {
    //document.onkeydown = function(e) {
      // "I" key
      if (e.ctrlKey && e.shiftKey && e.keyCode == 73) {
        disabledEvent(e);
      }
      // "J" key
      if (e.ctrlKey && e.shiftKey && e.keyCode == 74) {
        disabledEvent(e);
      }
      // "S" key + macOS
      if (e.keyCode == 83 && (navigator.platform.match("Mac") ? e.metaKey : e.ctrlKey)) {
        disabledEvent(e);
      }
      // "U" key
      if (e.ctrlKey && e.keyCode == 85) {
        disabledEvent(e);
      }
      // "F12" key
      if (event.keyCode == 123) {
        disabledEvent(e);
      }
    }, false);
    function disabledEvent(e){
      if (e.stopPropagation){
        e.stopPropagation();
      } else if (window.event){
        window.event.cancelBubble = true;
      }
      e.preventDefault();
      return false;
    }
  };
</script> -->

	</body>
</html>