<div ng-controller="InfoCtrl" ng-init="lihatinfo()" class="container">
	
	<div class="modal-body" id="kolomTambahInfo">
        <div class="form-group">
            <label>Judul Informasi</label>
            <input placeholder="isi disini..." type="text" ng-model="datainfo.judul" class="form-control" required />
            <p style="color: red;">{{error}}</p>
        </div>
        <div class="form-group">
            <label>Isi Informasi</label>
            <textarea placeholder="isi disini..." type="text" ng-model="datainfo.isi" class="form-control" required></textarea>
            <p style="color: red;">{{error}}</p>
        </div>
        <button class="btn btn-warning" ng-click="tambahinfo()">Simpan</button>
        <button class="btn btn-info" ng-click="tutupModalInfo()">Tutup</button>
    </div>

	<div class="modal-body" id="kolomEditInfo">
        <div class="form-group">
            <label>Judul Informasi</label>
            <input type="text" ng-model="datainfo.judul" class="form-control" required />
            <p style="color: red;">{{error}}</p>
        </div>
        <div class="form-group">
            <label>Isi Informasi</label>
            <textarea placeholder="isi disini..." type="text" ng-model="datainfo.isi" class="form-control" required></textarea>
            <p style="color: red;">{{error}}</p>
        </div>
        <button class="btn btn-warning" ng-click="updateinfo()">Update</button>
        <button class="btn btn-info" ng-click="tutupModalInfo()">Tutup</button>
    </div>

     <table class="pull-right">
    	<tr>
			<div class="col-xs-4">
	          <td><input ng-model="cari" id="search" class="form-control" placeholder="Pencarian..."></td>
	        </div>       
	        
	        <div class="col-xs-4">
	        	<td><button type="button" class="btn btn-primary" ng-click="inputTambahInfo()">Tambah</button></td>
	        </div>	        
	    </tr>
	</table>

	<table class="table table-striped">
		<tr>
			<th scope="col" hidden>No</th>
			<th scope="col">Judul</th>
			<th scope="col">Isi Informasi</th>
			<th scope="col">Edit</th>
			<th scope="col">Hapus</th>
		</tr>	
		<tr dir-paginate="x in datainfo | filter:cari | itemsPerPage:7">	
			<!-- <td>{{$index +1}}</td>	 -->
			<td hidden>{{x.idinfo}}</td>
			<td>{{x.judul}}</td>
			<td>{{x.isi}}</td>
			<td><button type="button" class="btn btn-success" ng-click="editinfo(x.idinfo, x.judul, x.isi)">Edit</button></td>
			<td><button type="button" class="btn btn-danger" data-toggle="modal" data-target="#modalHapusInfo" ng-click="getId(x.idinfo, x.judul, x.isi)">Hapus</button></td>
			
			<!-- Modal Hapus Informasi -->
			<div class="modal fade" id="modalHapusInfo" tabindex="-1" role="dialog" aria-labelledby="modalHapusInfo" aria-hidden="true">
			  <div class="modal-dialog" role="document">
			    <div class="modal-content">
			      <div class="modal-header">
			        <h5 class="modal-title" id="modalHapusInformasi">Hapus Informasi</h5>
			        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
			          <span aria-hidden="true">&times;</span>
			        </button>
			      </div>
			      <div class="modal-body"> <b hidden> {{dataGetId}}</b>
			       	Hapus info: <b> {{dataGetNama}}</b> ?
			      </div>
			      <div class="modal-footer">
			        <button type="button" class="btn btn-primary" data-dismiss="modal">Tidak</button>
			        <button type="button" class="btn btn-danger" ng-click="hapusinfo(x.idinfo)" data-dismiss="modal">Ya</button>
			      </div>
			    </div>
			  </div>
			</div>
		</tr>

		<tr>
			<td colspan="4" align="center">
				<dir-pagination-controls max-size="7" direction-links="true" boundary-links="true"></dir-pagination-controls>
			</td>
		</tr>
		
	</table>
</div>